:root {
    --platina-core: #5867FF;
    --platina-4l: #26C795;
    --platina-4l-plus: #368C91;
    --platina-6l: #7E72FA;
    --platina-6l-plus: #6262C4;
    --platina-max-patch: #C86FFE;
    --platina-perfect: #8E1EBF;
    --platina-full-combo: #359885;
}

.platina-overall-bg {
    background-color: var(--platina-core);
}

.platina-4l-bg {
    background-color: var(--platina-4l);
}

.platina-4l-plus-bg {
    background-color: var(--platina-4l-plus);
}

.platina-6l-bg {
    background-color: var(--platina-6l);
}

.platina-6l-plus-bg {
    background-color: var(--platina-6l-plus);
}

.platina-max-patch-bg {
    background-color: var(--platina-max-patch);
}

.platina-perfect-bg {
    background-color: var(--platina-perfect);
}

.platina-full-combo-bg {
    background-color: var(--platina-full-combo);
}