{% extends 'base.html' %}
{% block title %}
{{ current_user.name }}님의 성과표 | {{ title }}
{% endblock %}

{% block content %}
<div class="container my-5 mx-auto">
    <h2 class="text-center mb-4">{{ current_user.name }}님의 성과표</h2>
    <div class="card card-4l-bg text-white mb-4 w-50">
        <h3 class="card-title text-center">4L</h3>
        <div class="card-body">
            <p class="card-text">Total Max P.A.T.C.H. : {{ status_4['max_patch_patterns'] }} / {{
                status_4['total_patterns'] }}</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar platina-max-patch-bg"
                    style="width: {{ status_4['max_patch_patterns'] / status_4['total_patterns'] * 100 | round }}%;">
                </div>
            </div>
            <p class="card-text">Total Perfect Decode : {{ status_4['perfect_decode_patterns'] }} / {{
                status_4['total_patterns'] }}</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar platina-perfect-bg"
                    style="width: {{ status_4['perfect_decode_patterns'] / status_4['total_patterns'] * 100 | round }}%;">
                </div>
            </div>
            <p class="card-text">Total Full Combo : {{ status_4['full_combo_patterns'] }} / {{
                status_4['total_patterns'] }}</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar platina-full-combo-bg"
                    style="width: {{ status_4['full_combo_patterns'] / status_4['total_patterns'] * 100 | round }}%;">
                </div>
            </div>
            <p class="card-text">Total Clear : {{ status_4['cleared_patterns'] }} / {{ status_4['total_patterns'] }}</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar bg-info"
                    style="width: {{ status_4['cleared_patterns'] / status_4['total_patterns'] * 100 | round }}%;">
                </div>
            </div>
        </div>
    </div>
    <div class="card card-4l-plus-bg text-white mb-4 w-50">
        <h3 class="card-title text-center">4+L</h3>
        <div class="card-body">
            <p class="card-text">Total Max P.A.T.C.H. : {{ status_4_plus['max_patch_patterns'] }} / {{
                status_4_plus['total_patterns'] }}</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar platina-max-patch-bg"
                    style="width: {{ status_4_plus['max_patch_patterns'] / status_4_plus['total_patterns'] * 100 | round }}%;">
                </div>
            </div>
            <p class="card-text">Total Perfect Decode : {{ status_4_plus['perfect_decode_patterns'] }} / {{
                status_4_plus['total_patterns'] }}</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar platina-perfect-bg"
                    style="width: {{ status_4_plus['perfect_decode_patterns'] / status_4_plus['total_patterns'] * 100 | round }}%;">
                </div>
            </div>
            <p class="card-text">Total Full Combo : {{ status_4_plus['full_combo_patterns'] }} / {{
                status_4_plus['total_patterns'] }}</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar platina-full-combo-bg"
                    style="width: {{ status_4_plus['full_combo_patterns'] / status_4_plus['total_patterns'] * 100 | round }}%;">
                </div>
            </div>
            <p class="card-text">Total Clear : {{ status_4_plus['cleared_patterns'] }} / {{
                status_4_plus['total_patterns'] }}</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar bg-info"
                    style="width: {{ status_4_plus['cleared_patterns'] / status_4_plus['total_patterns'] * 100 | round }}%;">
                </div>
            </div>
        </div>
    </div>
    <div class="card card-6l-bg text-white mb-4 w-50">
        <h3 class="card-title text-center">6L</h3>
        <div class="card-body">
            <p class="card-text">Total Max P.A.T.C.H. : {{ status_6['max_patch_patterns'] }} / {{
                status_6['total_patterns'] }}</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar platina-max-patch-bg"
                    style="width: {{ status_6['max_patch_patterns'] / status_6['total_patterns'] * 100 | round }}%;">
                </div>
            </div>
            <p class="card-text">Total Perfect Decode : {{ status_6['perfect_decode_patterns'] }} / {{
                status_6['total_patterns'] }}</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar platina-perfect-bg"
                    style="width: {{ status_6['perfect_decode_patterns'] / status_6['total_patterns'] * 100 | round }}%;">
                </div>
            </div>
            <p class="card-text">Total Full Combo : {{ status_6['full_combo_patterns'] }} / {{
                status_6['total_patterns'] }}</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar platina-full-combo-bg"
                    style="width: {{ status_6['full_combo_patterns'] / status_6['total_patterns'] * 100 | round }}%;">
                </div>
            </div>
            <p class="card-text">Total Clear : {{ status_6['cleared_patterns'] }} / {{ status_6['total_patterns'] }}</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar bg-info"
                    style="width: {{ status_6['cleared_patterns'] / status_6['total_patterns'] * 100 | round }}%;">
                </div>
            </div>
        </div>
    </div>
    <div class="card card-6l-plus-bg text-white mb-4 w-50">
        <h3 class="card-title text-center">6+L</h3>
        <div class="card-body">
            <p class="card-text">Total Max P.A.T.C.H. : {{ status_6_plus['max_patch_patterns'] }} / {{
                status_6_plus['total_patterns'] }}</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar platina-max-patch-bg"
                    style="width: {{ status_6_plus['max_patch_patterns'] / status_6_plus['total_patterns'] * 100 | round }}%;">
                </div>
            </div>
            <p class="card-text">Total Perfect Decode : {{ status_6_plus['perfect_decode_patterns'] }} / {{
                status_6_plus['total_patterns'] }}</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar platina-perfect-bg"
                    style="width: {{ status_6_plus['perfect_decode_patterns'] / status_6_plus['total_patterns'] * 100 | round }}%;">
                </div>
            </div>
            <p class="card-text">Total Full Combo : {{ status_6_plus['full_combo_patterns'] }} / {{
                status_6_plus['total_patterns'] }}</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar platina-full-combo-bg"
                    style="width: {{ status_6_plus['full_combo_patterns'] / status_6_plus['total_patterns'] * 100 | round }}%;">
                </div>
            </div>
            <p class="card-text">Total Clear : {{ status_6_plus['cleared_patterns'] }} / {{
                status_6_plus['total_patterns'] }}</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar bg-info"
                    style="width: {{ status_6_plus['cleared_patterns'] / status_6_plus['total_patterns'] * 100 | round }}%;">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}