{% extends 'base.html' %}
{% block title %}
	PLATiNA::ARCHiVE Login
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class=flashes>
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
	<div class="mb-3">
        <form method="post" action="/login" enctype="application/x-www-form-urlencoded">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id="name" name="name" placeholder="Name" autocomplete="username">
            <br>
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="Password" autocomplete="current-password">
            <br>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
{% endblock %}