{% extends 'base.html' %}
{% block title %}
최근기록 | {{ title }}
{% endblock %}

{% block content %}
<div class="container my-5">
    <h3 class="text-center mb-4"> {{ current_user.name }}님의 최근기록 Top 50</h3>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">재킷</th>
                        <th scope="col">제목</th>
                        <th scope="col">난이도</th>
                        <th scope="col">판정</th>
                        <th scope="col">점수</th>
                        <th scope="col">P.A.T.C.H.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in recent_results %}
                    <tr>
                        <td style="width: 100px;">
                            {% if result.difficulty == "PLUS" %}
                            <img src="https://r2.platina-archive.app/{{ result.song.song_id }}_plus.png"
                                alt="Album Jacket" class="img-fluid" style="max-height: 80px; width: auto;">
                            {% else %}
                            <img src="https://r2.platina-archive.app/{{ result.song.song_id }}.png" alt="Album Jacket"
                                class="img-fluid" style="max-height: 80px; width: auto;">
                            {% endif %}
                        </td>
                        <td>
                            {{ result.song.title }}
                        </td>
                        <td>
                            {{ result.line }}L {{ result.difficulty }} Lv.{{ result.level }}
                        </td>
                        {% if is_initial %}
                        <td>
                            N/A -> {{ _format_judge_str(result) | safe }}
                        </td>
                        <td>
                            N/A -> {{ "{:,}".format(result.score) }}
                        </td>
                        <td>
                            N/A -> {{ result.patch }}
                        </td>
                        {% else %}
                        <td>
                            {{ _format_judge_str(result, True) | safe }} -> {{ _format_judge_str(result) | safe }}
                        </td>
                        <td>
                            {{ "{:,}".format(result.old_score) }} -> {{ "{:,}".format(result.score) }}
                        </td>
                        <td>
                            {{ result.old_patch }} -> {{ result.patch }}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}