{% extends 'base.html' %}
{% block title %}
{{ song.title }} 정보 | {{ title }}
{% endblock %}
{% block content %}
<container class="my-5">
    <h3 class="text-center mb-4">{{ song.title }}</h3>
    <div class="row justify-content-center">
    <img class="img-fluid" src="https://r2.platina-archive.app/{{ song.song_id }}.png" alt="Jacket Image" width="200px" height="200px">
        <div class="col-lg-8 col-md-10">
            <table class="table table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col" style="white-space: nowrap;">라인</th>
                    <th scope="col">EASY</th>
                    <th scope="col">HARD</th>
                    <th scope="col">OVER</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="platina-4l-bg">4L</td>
                        <td>
                        {% if results_4l_easy  == "N/A" %}
                            N/A
                        {% else %}
                            Lv.{{ results_4l_easy.level }} - {{ results_4l_easy.judge }}%
                        {% endif %}
                        </td>
                        <td>
                        {% if results_4l_hard  == "N/A" %}
                            N/A
                        {% else %}
                            Lv.{{ results_4l_hard.level }} - {{ results_4l_hard.judge }}%
                        {% endif %}
                        </td>
                        <td>
                        {% if results_4l_over  == "N/A" %}
                            N/A
                        {% else %}
                            Lv.{{ results_4l_over.level }} - {{ results_4l_over.judge }}%
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="platina-4l-plus-bg">4L+</td>
                        <td>
                        {% if results_4l_plus_easy  == "N/A" %}
                            N/A
                        {% else %}
                            Lv.{{ results_4l_plus_easy.level }} - {{ results_4l_plus_easy.judge }}%
                        {% endif %}
                        </td>
                        <td>
                        {% if results_4l_plus_hard  == "N/A" %}
                            N/A
                        {% else %}
                            Lv.{{ results_4l_plus_hard.level }} - {{ results_4l_plus_hard.judge }}%
                        {% endif %}
                        </td>
                        <td>
                        {% if results_4l_plus_over  == "N/A" %}
                            N/A
                        {% else %}
                            Lv.{{ results_4l_plus_over.level }} - {{ results_4l_plus_over.judge }}%
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="platina-6l-bg">6L</td>
                        <td>
                        {% if results_6l_easy  == "N/A" %}
                            N/A
                        {% else %}
                            Lv.{{ results_6l_easy.level }} - {{ results_6l_easy.judge }}%
                        {% endif %}
                        </td>
                        <td>
                        {% if results_6l_hard  == "N/A" %}
                            N/A
                        {% else %}
                            Lv.{{ results_6l_hard.level }} - {{ results_6l_hard.judge }}%
                        {% endif %}
                        </td>
                        <td>
                        {% if results_6l_over  == "N/A" %}
                            N/A
                        {% else %}
                            Lv.{{ results_6l_over.level }} - {{ results_6l_over.judge }}%
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="platina-6l-plus-bg">6L+</td>
                        <td>
                        {% if results_6l_plus_easy  == "N/A" %}
                            N/A
                        {% else %}
                            Lv.{{ results_6l_plus_easy.level }} - {{ results_6l_plus_easy.judge }}%
                        {% endif %}
                        </td>
                        <td>
                        {% if results_6l_plus_hard  == "N/A" %}
                            N/A
                        {% else %}
                            Lv.{{ results_6l_plus_hard.level }} - {{ results_6l_plus_hard.judge }}%
                        {% endif %}
                        </td>
                        <td>
                        {% if results_6l_plus_over  == "N/A" %}
                            N/A
                        {% else %}
                            Lv.{{ results_6l_plus_easy.level }} - {{ results_6l_plus_over.judge }}%
                        {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</container>
{% endblock %}